/*# sourceMappingURL=estlios.css.map */

.logo {
    height: 3rem;
    width: 3rem;
}

.logo_foto {
    height: 5rem;
    width: 5rem;
}

.logo_menu {
    height: 3rem;
    width: 3rem;
}

@media screen and (min-width:777px) {
    .nav-link {
        padding: 18px 0;
        min-width: 120px;
    }
    .navbar {
        padding: 0
    }
}

.fondo {
    background-color: #1F618D;
}

.cuerpo {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/Fondo02.png") no-repeat center top;
    background-size: cover;
}

.limitar_area {
    resize: vertical;
    min-height: 100px;
    max-height: 180px;
}

.letra_fondo {
    /* color: #000000; */
    color: #1F618D;
}

.fondo_boton {
    background-color: #2E4053;
}

.escudo_index {
    width: 12rem;
    height: 12rem;
}


/* Estilo de Scroll */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #1F618D;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 3px solid #1F618D;
}

.fondo_logo {
    background-image: radial-gradient(circle at 50% -20.71%, #a3a7ff 0, #7a8ffc 25%, #3c78f2 50%, #0063e8 75%, #0051de 100%);
}